wsdl/api_org_ext.wsdl

<?xml version="1.0" ?>
<definitions name="api_org_ext" targetNamespace="urn:api_org_ext" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:api_org_ext" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types xmlns="http://schemas.xmlsoap.org/wsdl/" />
<portType name="api_org_extPort"><operation name="hospital_info">
<input message="tns:hospital_infoRequest" />
<output message="tns:hospital_infoResponse" />
</operation>
<operation name="ws_update">
<input message="tns:ws_updateRequest" />
<output message="tns:ws_updateResponse" />
</operation>
<operation name="ws_delete">
<input message="tns:ws_deleteRequest" />
<output message="tns:ws_deleteResponse" />
</operation>
</portType>
<binding name="api_org_extBinding" type="tns:api_org_extPort">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
<operation name="hospital_info">
<soap:operation soapAction="urn:api_org_ext#api_org_ext#hospital_info" />
<input><soap:body use="encoded" namespace="urn:api_org_ext" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:api_org_ext" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="ws_update">
<soap:operation soapAction="urn:api_org_ext#api_org_ext#ws_update" />
<input><soap:body use="encoded" namespace="urn:api_org_ext" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:api_org_ext" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="ws_delete">
<soap:operation soapAction="urn:api_org_ext#api_org_ext#ws_delete" />
<input><soap:body use="encoded" namespace="urn:api_org_ext" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:api_org_ext" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
</binding>
<service name="api_org_ext">
<documentation />
<port name="api_org_extPort" binding="tns:api_org_extBinding"><soap:address location="http://yaanchis/api/orgext/hospitalinfo" />
</port>
</service>
<message name="hospital_infoRequest">
<part name="token" type="xsd:string" />
<part name="xml_string" type="xsd:string" />
</message>
<message name="hospital_infoResponse">
<part name="hospital_info" type="xsd:string" />
</message>
<message name="ws_updateRequest">
<part name="token" type="xsd:string" />
<part name="xml_string" type="xsd:string" />
</message>
<message name="ws_updateResponse">
<part name="ws_update" type="xsd:string" />
</message>
<message name="ws_deleteRequest">
<part name="token" type="xsd:string" />
<part name="xml_string" type="xsd:string" />
</message>
<message name="ws_deleteResponse">
<part name="ws_delete" type="xsd:string" />
</message>
</definitions>