wsdl/api_his_hisdepartment.wsdl

<?xml version="1.0" ?>
<definitions name="wsdl_hisdepartment" targetNamespace="urn:wsdl_hisdepartment" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:wsdl_hisdepartment" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types xmlns="http://schemas.xmlsoap.org/wsdl/" />
<portType name="wsdl_hisdepartmentPort"><operation name="ws_insert">
<input message="tns:ws_insertRequest" />
<output message="tns:ws_insertResponse" />
</operation>
<operation name="ws_select">
<input message="tns:ws_selectRequest" />
<output message="tns:ws_selectResponse" />
</operation>
<operation name="ws_update">
<input message="tns:ws_updateRequest" />
<output message="tns:ws_updateResponse" />
</operation>
<operation name="ws_delete">
<input message="tns:ws_deleteRequest" />
<output message="tns:ws_deleteResponse" />
</operation>
<operation name="login">
<input message="tns:loginRequest" />
<output message="tns:loginResponse" />
</operation>
<operation name="insert_api_logs">
<input message="tns:insert_api_logsRequest" />
<output message="tns:insert_api_logsResponse" />
</operation>
</portType>
<binding name="wsdl_hisdepartmentBinding" type="tns:wsdl_hisdepartmentPort">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
<operation name="ws_insert">
<soap:operation soapAction="urn:wsdl_hisdepartment#hisdepartment#ws_insert" />
<input><soap:body use="encoded" namespace="urn:wsdl_hisdepartment" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:wsdl_hisdepartment" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="ws_select">
<soap:operation soapAction="urn:wsdl_hisdepartment#hisdepartment#ws_select" />
<input><soap:body use="encoded" namespace="urn:wsdl_hisdepartment" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:wsdl_hisdepartment" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="ws_update">
<soap:operation soapAction="urn:wsdl_hisdepartment#hisdepartment#ws_update" />
<input><soap:body use="encoded" namespace="urn:wsdl_hisdepartment" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:wsdl_hisdepartment" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="ws_delete">
<soap:operation soapAction="urn:wsdl_hisdepartment#hisdepartment#ws_delete" />
<input><soap:body use="encoded" namespace="urn:wsdl_hisdepartment" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:wsdl_hisdepartment" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="login">
<soap:operation soapAction="urn:wsdl_hisdepartment#hisdepartment#login" />
<input><soap:body use="encoded" namespace="urn:wsdl_hisdepartment" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:wsdl_hisdepartment" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="insert_api_logs">
<soap:operation soapAction="urn:wsdl_hisdepartment#hisdepartment#insert_api_logs" />
<input><soap:body use="encoded" namespace="urn:wsdl_hisdepartment" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:wsdl_hisdepartment" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
</binding>
<service name="wsdl_hisdepartment">
<documentation />
<port name="wsdl_hisdepartmentPort" binding="tns:wsdl_hisdepartmentBinding"><soap:address location="http://yaanchis/api/hisdepartment/index" />
</port>
</service>
<message name="ws_insertRequest">
<part name="token" type="xsd:string" />
<part name="xml_request" type="xsd:string" />
</message>
<message name="ws_insertResponse">
<part name="ws_insert" type="xsd:string" />
</message>
<message name="ws_selectRequest">
<part name="token" type="xsd:string" />
<part name="xml_request" type="xsd:string" />
</message>
<message name="ws_selectResponse">
<part name="ws_select" type="xsd:string" />
</message>
<message name="ws_updateRequest">
<part name="token" type="xsd:string" />
<part name="xml_request" type="xsd:string" />
</message>
<message name="ws_updateResponse">
<part name="ws_update" type="xsd:string" />
</message>
<message name="ws_deleteRequest">
<part name="token" type="xsd:string" />
<part name="xml_request" type="xsd:string" />
</message>
<message name="ws_deleteResponse">
<part name="ws_delete" type="xsd:string" />
</message>
<message name="loginRequest">
<part name="org_id" type="xsd:string" />
<part name="password" type="xsd:string" />
</message>
<message name="loginResponse">
<part name="login" type="xsd:string" />
</message>
<message name="insert_api_logsRequest">
<part name="logs_array" type="xsd:string" />
</message>
<message name="insert_api_logsResponse">
<part name="insert_api_logs" type="xsd:string" />
</message>
</definitions>